.designerDashboard{
    background-image: url('../../../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-family: 'Rubik', sans-serif;
    height:200vh
}
.user-img{
    width:30px;
    height:30px;
    margin-right: 15px;
    margin-left: 10px;
}