.navbar{
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid gray;
}
.navbar-brand{
    font-family: 'Fondamento', cursive;
    font-size: 38px;
    font-weight: 700;
    color: #D0021B!important;
}
.navbar-brand a{
    
}
.navbar ul{
    margin-left: auto;
}
.navbar ul li a{
    font-size: 15px;
    color: black;
    margin-left: 3px;
    font-weight: bold;
    /* letter-spacing: 1px; */
    padding-top: 10px;
    margin-right: 3px;
}
.contact-br{
    border-right: 1px solid lightgray;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar ul li button{
    background-color: #D0021B;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #D0021B;
}
.navbar ul li button:hover{
    background-color: white;
    border: 1px solid #D0021B;
    color: #D0021B;
}
.admin-btn{
    background-color: white!important;
    color: #D0021B!important;
    border: 1px solid #D0021B;
}
.admin-btn:hover{
    background-color: #D0021B!important;
    color: #fff!important;
    border: 1px solid #D0021B;
}
.post-btn{
    margin-left: 5px!important;
    margin-right: 20px!important;
}