input[type=file]{
    padding: 10px;
}
.customer-right{
    background-color: white;
    border-radius: 5px;
    border-top: 4px solid #D0021B;
    /* position: relative;
    animation: myfirst 1s 2;
    animation-direction: alternate; */
    grid-template-columns: repeat(2,1fr);
  }
  
  /* @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    100% {left: 30px; top: 0px;}
  } */
 