.blog-area{
padding-top: 130px;
margin-bottom: 50px;
}
.post-date span{
    color: #D0021B;
    font-size: 35px!important;
    font-weight:bold;
}
.blog-img{
    border: 5px solid #ddd;
    overflow: hidden;
}
.blog-img img{
    overflow: hidden;
    transition: all .8s ease-in-out;
}
.single-blog:hover img{
    transform: scale(1.1);
}
.blog-text a{
    color: #000;
    transition: .5s;
}
.blog-text a:hover{
    color: #D0021B;
}